.close-btn{
    outline: none;
    background-color: #fff;
    border: none;
    font-weight: 550;
}
.artist-login-title {
    margin-bottom: 40px;
    font-weight: 600;
}
.close-btn:hover {
    color: #000000
}
.login-title{
    font-family: Recursive-Light;
    font-size: 30px;
}
.error-msg{
    color: red;
    margin-left: 5px;
}
.modal-content, .modal-header {
    border: none;
}
