.me-my-wallet-head h4 {
    margin-bottom: 15px;
    color:#000;
    font-weight: 300;
}
.me-wallet-name h4 {
    margin-bottom: 0;
}
.me-my-wallet-head {
    padding: 20px 25px 20px 25px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
}
.me-my-wallet-profile{
    height: 240px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 10px 10px 10px rgba(180, 180, 178, 0.1) !important;
    /* box-shadow: 1.5px 3.99px 27px 0px rgba( 0, 0, 0, 0.1); */
    border-style: solid;
    border-color: rgba( 0, 0, 0, 0.05);
    border-width: 0.5px;
    border-radius: 15px;
} 
.me-my-wallet-body{
    padding: 40px 25px 30px 25px;
}
.me-my-wallet-body p {
    margin-bottom: 40px;
    word-break: break-all;
}
.me-my-wallet-head div {
    flex: 1;
}
.me-verify-btn{
    float:left;
}
.me-verify-btn .me-btn{
    line-height: 39px;
}
.me-back-btn{
    float: right;
}
.me-back-btn .me-btn{
    line-height: 39px;
}
.guide-list-items{
    margin-top: -30px;
}