.me-transaction-box {
	border-radius: 15px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.05);
	border-width: 0.5px;
	box-shadow: 10px 10px 10px rgba(180, 180, 178, 0.1) !important;
	background: #ffffff;
	position: relative;
    margin-top: 70px;
	margin-left: -10px;
	margin-right: -10px;
	z-index: 1;
	transition: 0.5s;
	height: 660px;
}
.me-transaction-box table {
	width: 100%;
}
.me-transaction-box table th,
.me-transaction-box table td {
	padding: 19.5px;
	border-bottom: 1px solid #eee;
	border-top: none;
	white-space: nowrap;
	vertical-align: middle;
}
.me-transaction-box table thead th {
	color: #000;
	font-size: 16px;
}
.me-transaction-box table td span {
	width: 30px;
	height: 30px;
	background: #ffffff;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
	border-radius: 100%;
	text-align: center;
	line-height: 20px;
}
