.me-transaction-box {
	border-radius: 15px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.05);
	border-width: 0.5px;
	box-shadow: 10px 10px 10px rgba(180, 180, 178, 0.1) !important;
	background: #ffffff;
	position: relative;
    margin-top: 70px;
	margin-left: -10px;
	margin-right: -10px;
	z-index: 1;
	transition: 0.5s;
	height: 660px;
}
.me-transaction-box table {
	width: 100%;
}
.me-transaction-box table th,
.me-transaction-box table td {
	padding: 19.5px;
	border-bottom: 1px solid #eee;
	border-top: none;
	white-space: nowrap;
	vertical-align: middle;
}
.me-transaction-box table thead th {
	color: #000;
	font-size: 16px;
}
.me-transaction-box table td span {
	width: 30px;
	height: 30px;
	background: #ffffff;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
	border-radius: 100%;
	text-align: center;
	line-height: 20px;
}
  
  .bloc-tabs {
	display: flex;
  }
  .tabs {
	padding: 15px;
	text-align: center;
	width: 50%;
	background: #f7eae4;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.274);
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: content-box;
	position: relative;
	outline: none;
  }
  .tabs:not(:last-child){
	border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .active-tabs  {
	background: white;
	border-bottom: 1px solid transparent;
	font-weight: 800;
  }
  
  .active-tabs::before {
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% + 2px);
	height: 5px;
	background: #d45f2f;
  }
  .content-tabs {
	flex-grow : 1;
  }
  .content {
	background: white;
	padding: 20px;
	width: 100%;
	height: 100%;
	display: none;
  }
  .content h2 {
	padding: 0px 0 5px 0px;
  }
  .content hr {
	width: 100px;
	height: 2px;
	background: #222;
	margin-bottom: 5px;
  }
  .content p {
	width: 100%;
	height: 100%;
  }
  .active-content {
	display: block;
  }  
