.pagination {
	position: absolute;
	top: 270px;
	left: 95px;
	justify-content: center;
	margin-top: 10px;
}
.pagination ul {
	list-style: none;
	padding: 0;
}
.pagination ul.pagination li {
	display: inline-block;
	width: 30px;
	display: flex;
	justify-content: center;
}
.pagination ul.pagination li:hover {
	cursor: pointer;
}
.pagination ul.pagination li a {
	text-decoration: none;
}
.pagination ul.pagination li:first-child {
	margin-right: 20px;
}
.pagination ul.pagination li:last-child {
	margin-left: 20px;
}
.pagination ul.pagination li.active a {
	color: #d45f2f;
}
.page-numbers {
	color: #d45f2f;
}
.page-numbers:hover {
	color: white;
	background-color: #d45f2f;
}
.page-numbers:active {
	color: white;
	background-color: #d45f2f;
}
.pagination-nav {
	position: absolute;
	top: 285px;
	left: 140px;
}
.pagination .active a{
	background-color: #d45f2f !important;
	border: none;
}
.pagination .active a:focus{
	outline: none;
	box-shadow: none;
}
.pagination .active:active{
	outline: none;
	box-shadow: none;
}
.pagination .page-link:active {
    box-shadow: none !important;
    border-color: transparent !important;
}
.pagination ul.pagination li a:hover,
.pagination ul.pagination li a.active {
	color: #d45f2f;
}

@media (max-width: 992px) {
	.pagination-nav {
		left: 10px;
		margin-bottom: 30px;
	}
}
