.me-footer {
	margin-top: -16px;
	position: relative;
	background: #ffded1;
}
.me-footer {
	padding: 75px 0 50px;
}
.me-footer-block ul {
	padding-left: 0;
}
.me-footer-block ul li a {
	text-decoration: none;
}
.me-footer-block h4 {
	margin-bottom: 34px;
	font-size: 24px;
	font-weight: 700;
	text-transform: capitalize;
	font-family: "ProximaNova";
}
.me-footer-block .me-logo {
	margin-bottom: 20px;
}
.me-footer-block ul li,
.me-footer-block a,
.me-footer-block p {
	font-size: 16px;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.me-footer-block ul li:last-child,
.me-footer-block a:last-child,
.me-footer-block p:last-child {
	margin-bottom: 0px;
}
.me-footer-block ul li.me-footer-emial {
	text-transform: lowercase;
	word-break: break-word;
}
.me-footer-share {
	margin-top: 20px;
}
.me-footer-share li {
	display: inline-block;
	margin-right: 5px;
}
.me-footer-share li a i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #e4e4e4;
	border-radius: 100%;
	display: block;
	text-align: center;
	font-size: 14px;
}
.me-copyright-block p a {
	font-weight: 600;
}
.me-footer-copyright p {
	margin: 0;
	text-transform: capitalize;
	color: #fff;
}
.me-footer-copyright {
	padding: 15px 0px;
	background-color: #000;
}
.me-copyright-block ul {
	display: flex;
	justify-content: flex-end;
	padding-left: 0px;
}
.me-copyright-block ul li {
	margin-right: 15px;
	text-transform: capitalize;
}
.me-copyright-block ul li:last-child {
	margin-right: 0px;
}
.me-copyright-block a {
	color: #fff;
	text-decoration: none;
}
.me-copyright-block a:hover {
	color: #ffded1;
}
@media (max-width: 991px) {
	.me-footer-block {
		margin-bottom: 30px;
	}
	.me-footer-block h4 {
		margin-bottom: 20px;
	}
	.me-footer-block .me-logo {
		margin-bottom: 15px;
	}
	.me-footer {
		padding: 59px 0 28px;
	}
	.me-copyright-block ul {
		justify-content: center;
		margin-top: 3px;
	}
	.me-footer-copyright {
		text-align: center;
	}
}
@media (max-width: 575px) {
	.me-footer-block ul.me-footer-share li {
		margin-bottom: 0px;
	}
}
