.menu-list{
    margin-top: 40px;
    padding: 30px;
}
.menu-list-item{
    padding-top: 20px;
    padding-bottom: 20px;
    color:#fff;
    font-size: 18px;
    cursor: pointer;
    border-top: solid 1px rgba(237, 163, 133,0.4);
}
.menu-list-item:hover{
    color: #eda385;
}
.menu-list-item:last-child{
    border-bottom: solid 1px rgba(237, 163, 133,0.4);
}
.sidebar-sticky {
	position: fixed;
    max-width: 20%;
	z-index: 99;
}